config.json
docker-compose.override.yml
.idea/
node_modules/
pool_configs/*.json
npm-debug.log

# Build artifacts
libs/verushash/build/
libs/verushash/lib/
*.node

tools/duplicates_report.json

internal/
